-
  const accessSection = {
    title: 'Access clipboard anywhere',
    paragraph: `Whether you're on the go, or at your computer, you can
    access all your Clipboard snippets in a few simple clicks.`
  }

+section(accessSection.title, accessSection.paragraph, 'section--access')
  +image("image-devices", "Devices")
