-
  const clipboardSection = {
    title: 'Clipboard for iOS and Mac OS',
    paragraph: `Available for free on the App Store. Download for Mac or iOS,
      sync with iCloud and you're ready to start adding to your clipboard.`
  }

+section(clipboardSection.title, clipboardSection.paragraph)
  +download-buttons()
