-
  const section = {
    title: 'Keep track of your snippets',
    paragraph: `Clipboard instantly stores any item you copy in the cloud,
    meaning you can access your snippets immediately on all your devices. Our
    Mac and iOS apps will help you organize everything.`
  }

-
  const keepTrackArticles = [
    {
      titleText: 'Quick Search',
      paragraphText: `Easily search your snippets by content, category, web address,
        application, and more.`,
      extraClasses: "article--keep-track",
      paragraphExtraClass: 'paragraph--smaller'
    },
    {
      titleText: 'iCloud Sync',
      paragraphText: 'Instantly saves and syncs snippets across all your devices.',
      extraClasses: "article--keep-track",
      paragraphExtraClass: 'paragraph--smaller'
    },
    {
      titleText: 'Complete History',
      paragraphText: `Retrieve any snippets from the first moment you started using
        the app.`,
      extraClasses: "article--keep-track",
      paragraphExtraClass: 'paragraph--smaller'
    }
  ]

+section(section.title, section.paragraph, "section--keep-track")
  .columns.columns--two
    .image-container
      +image("image-computer", "Mac computer", "image--mac")
    .articles-container
      each article in keepTrackArticles
        +article(article)
