mixin article(titleText, paragraphText, iconName)
  article.article
    if iconName
      img(src=`assets/icons/icon-${iconName}.svg`, alt=`${iconName} icon`)
    h3.article__title= titleText
    p.paragraph= paragraphText
    block
