mixin article(titleText, paragraphText, extraClasses = '', iconName)
  article.article
    if iconName
      img.icon(src=`assets/icons/icon-${iconName}.svg`, alt=`${iconName} icon`)
    h3.title.title--h3= titleText
    p.paragraph= paragraphText
    block
