mixin section(titleText, paragraphText, extraClasses = '')
  section(class=`section ${extraClasses}`.trimRight())
    h2.title.title--h2= titleText
    p.paragraph.section__paragraph= paragraphText
    block
