.button {
  padding: px-to-rem(16px);
  border-radius: px-to-rem(40px);
  border: none;
  border-bottom: 3px solid;
  display: inline-block;
  font-size: px-to-rem(18px);
  box-shadow: 0 px-to-rem(10px) px-to-rem(20px) rgba(#000000, .1);

  @include to-desktop() {
    width: 100%;
  }

  @include desktop() {
    cursor: pointer;
    transition: background-color $transition-default;
    width: px-to-rem(270px);
  }
  
  &--primary {
    border-bottom-color: var(--primary-darker);
    background-color: var(--primary);
    color: var(--on-primary);
    box-shadow: 0 px-to-rem(10px) px-to-rem(20px) rgba(137, 229, 199, .5);

    @include to-desktop() {
      margin-bottom: px-to-rem(24px);
    }
    
    @include desktop() {
      margin-right: px-to-rem(16px);
      
      &:hover {
        background-color: var(--primary-lighter);
      }
    }
  }

  &--secondary {
    background-color: var(--secondary);
    color: var(--on-secondary);
    border-bottom-color: var(--secondary-darker);
    
    @include desktop() {
      &:hover {
        background-color: var(--secondary-lighter);
      }
    }
  }
}
