.article {
  margin-bottom: px-to-rem(48px);

  &--keep-track {
    margin-bottom: px-to-rem(56px);
  }

  &--supercharge {
    text-align: center;
  }

  @include desktop() {
    max-width: 350px;
  }
}
