.section {

  &--access {
    margin-bottom: px-to-rem(130px);
    
    @include desktop() {
      text-align: center;
    }
  }

  &--keep-track {
      margin-bottom: px-to-rem(186px);
  }

  &--clipboard {
    margin-bottom: px-to-rem(170px);
  }

  &__paragraph {
    margin-bottom: px-to-rem(64px);
    text-align: center;

    @include desktop() {
      max-width: px-to-rem(840px);
      margin: 0 auto px-to-rem(64px);
    }
  }
}
