:root {
  --primary: rgb(38, 186, 164);
  --primary-lighter: rgb(52, 228, 201);
  --primary-darker: hsl(171, 66%, 35%);
  --on-primary: #ffffff;
  --secondary: hsl(233, 100%, 69%);
  --secondary-lighter: hsl(233, 94%, 73%);
  --secondary-darker: hsl(233, 60%, 58%);
  --on-secondary: #ffffff;
  --title: hsl(210, 10%, 33%);
  --text: hsl(201, 11%, 66%);
  --light-gray: #f8f8f8;
  --on-light-gray: #4C545C;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
h1, h2, h3,
ul,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(../assets/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1439px) {
  body {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-image: url(../assets/images/bg-header-desktop.png);
  }
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.article {
  margin-bottom: 3rem;
}
.article--keep-track {
  margin-bottom: 3.5rem;
}
.article--supercharge {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .article {
    max-width: 350px;
  }
}

.header {
  margin-bottom: 10rem;
  padding: 6rem 1.5rem 0;
}
@media screen and (min-width: 1440px) {
  .header {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .header__paragraph {
    max-width: 46.875rem;
    margin: auto;
  }
}

.section--access {
  margin-bottom: 8.125rem;
}
@media screen and (min-width: 1440px) {
  .section--access {
    text-align: center;
  }
}
.section--keep-track {
  margin-bottom: 11.625rem;
}
.section--clipboard {
  margin-bottom: 10.625rem;
}
.section__paragraph {
  margin-bottom: 4rem;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .section__paragraph {
    max-width: 52.5rem;
    margin: 0 auto 4rem;
  }
}

.footer {
  background-color: var(--light-gray);
  color: var(--on-light-gray);
  padding: 3.25rem 2rem;
}

@media screen and (max-width: 1439px) {
  .main {
    padding: 0 2rem;
  }
}

.button {
  padding: 1rem;
  border-radius: 2.5rem;
  border: none;
  border-bottom: 3px solid;
  display: inline-block;
  font-size: 1.125rem;
  -webkit-box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1439px) {
  .button {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 16.875rem;
  }
}
.button--primary {
  border-bottom-color: var(--primary-darker);
  background-color: var(--primary);
  color: var(--on-primary);
  -webkit-box-shadow: 0 0.625rem 1.25rem rgba(137, 229, 199, 0.5);
          box-shadow: 0 0.625rem 1.25rem rgba(137, 229, 199, 0.5);
}
@media screen and (max-width: 1439px) {
  .button--primary {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .button--primary {
    margin-right: 1rem;
  }
  .button--primary:hover {
    background-color: var(--primary-lighter);
  }
}
.button--secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
  border-bottom-color: var(--secondary-darker);
}
@media screen and (min-width: 1440px) {
  .button--secondary:hover {
    background-color: var(--secondary-lighter);
  }
}

@media screen and (max-width: 1439px) {
  .links-list {
    margin-bottom: 3rem;
  }
  .links-list__item {
    margin-bottom: 1.25rem;
  }
}
.links-list__link {
  font-size: 1.125rem;
  line-height: 30px;
  color: inherit;
}
@media screen and (min-width: 1440px) {
  .links-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    row-gap: 0.75rem;
  }
  .links-list__item {
    width: 10rem;
  }
}

.logo:not(.logo--footer) {
  margin-bottom: 4rem;
}
.logo--footer {
  width: 3.4375rem;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-list__item:not(:last-child) {
  margin-right: 2.5rem;
}

.title {
  color: var(--title);
  font-weight: 600;
}
.title--h1 {
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 1440px) {
  .title--h1 {
    font-size: 4rem;
  }
}
.title--h2 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 1440px) {
  .title--h2 {
    font-size: 2.25rem;
  }
}
.title--h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1440px) {
  .title--h1, .title--h2 {
    text-align: center;
  }
}

.buttons-container {
  margin-top: 3rem;
  text-align: center;
}

.paragraph {
  color: var(--text);
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  .paragraph {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .paragraph--smaller {
    font-size: 1rem;
  }
}

.image--mac {
  margin-bottom: 3.5rem;
}

.icon {
  height: 2rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1440px) {
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.articles-container {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 1440px) {
  .image-container {
    margin-right: 6.875rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 90rem;
    margin: auto;
  }
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.set-margin-bottom {
  margin-bottom: 1rem;
}